<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit Book</h2>
<form action="/update/{{data._id}}" method="post">
<input type="text" name="title" value="{{data.title}}">
<input type="text" name="author" value="{{data.author}}">
<input type="submit" value="Update">
</form>
</body>
</html> 